<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>Sobre mim</h1>
            <p>Olá sou Leonidas Borges, estudante de programação na Rocketseat</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>
</html>